In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('/Users/bryan.gonzalez/MOBI2024/SPIRAL/Data/Clean_Oak_AWS_06012024/MoBi_Harlem_1/drawing-responses-Mon Jun 03 2024/3b7b2492-dabf-41a6-8aea-40e135706cf7-648c7b3e-8819-c112-0b4f-6f3000000000-spiral_trace1_Dom.csv')
df

,line_number,x,y,UTC_Timestamp,seconds,epoch_time_in_seconds_start
0,0,49.597586,49.195171,1.717179e+09,0.000,1.717179e+09
1,0,49.547284,49.195171,1.717179e+09,0.032,NaN
2,0,49.547284,49.245473,1.717179e+09,0.040,NaN
3,0,49.547284,49.295775,1.717179e+09,0.057,NaN
4,0,49.547284,49.346076,1.717179e+09,0.065,NaN
...,...,...,...,...,...,...
839,0,77.112676,51.106640,1.717179e+09,7.028,NaN
840,0,77.112676,51.207243,1.717179e+09,7.036,NaN
841,0,77.112676,51.257545,1.717179e+09,7.044,NaN
842,0,77.112676,51.307847,1.717179e+09,7.053,NaN
843,0,77.112676,51.257545,1.717179e+09,7.077,NaN

In [7]:
df['seconds_dff'] = df.seconds.diff()
df['ideal_seconds'] = .0082

In [8]:
df

,line_number,x,y,UTC_Timestamp,seconds,epoch_time_in_seconds_start,seconds_dff,ideal_seconds
0,0,49.597586,49.195171,1.717179e+09,0.000,1.717179e+09,NaN,0.0082
1,0,49.547284,49.195171,1.717179e+09,0.032,NaN,0.032,0.0082
2,0,49.547284,49.245473,1.717179e+09,0.040,NaN,0.008,0.0082
3,0,49.547284,49.295775,1.717179e+09,0.057,NaN,0.017,0.0082
4,0,49.547284,49.346076,1.717179e+09,0.065,NaN,0.008,0.0082
...,...,...,...,...,...,...,...,...
839,0,77.112676,51.106640,1.717179e+09,7.028,NaN,0.009,0.0082
840,0,77.112676,51.207243,1.717179e+09,7.036,NaN,0.008,0.0082
841,0,77.112676,51.257545,1.717179e+09,7.044,NaN,0.008,0.0082
842,0,77.112676,51.307847,1.717179e+09,7.053,NaN,0.009,0.0082
843,0,77.112676,51.257545,1.717179e+09,7.077,NaN,0.024,0.0082